BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Inline
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '1'
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: 'false'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeCtorInitializerColon: 'true'
SpaceBeforeInheritanceColon: 'true'
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '2'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
TabWidth: '4'
ColumnLimit: '140'
AccessModifierOffset: '-3'
AllowShortEnumsOnASingleLine: 'false'
AlignArrayOfStructures: 'Left'
NamespaceIndentation: 'All'
SpaceBeforeCpp11BracedList: 'false'
SortIncludes: 'CaseSensitive'
IncludeBlocks: 'Preserve'
